@model RadioWeb.Models.INFORMES
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    var imagePath = Server.MapPath("~/Content/Images");
}
<h1>@Model.PACIENTE.PACIENTE1</h1>



@Model.TEXTOHTML;
            

      


